
@{
    ViewData["Title"] = "Travel";
}

<h1>作業二 引用 datas/Travel.js 中的JSON，讀取資料後，透過 bootstrap cards component 顯示在網頁上</h1>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

@section Scripts{
    <script src="~/datas/travel.js"></script>
    <script>
        const data = spots.CommonFormat.Section;
        console.log(data);

    </script>
}

