
@{
    ViewData["Title"] = "HW7";
}

<h1>AutoComplete 的功能要如何做，使用fetch()及 async await 的技術</h1>


<form>
    <input type="text" />
    <div>
        
    </div>
</form>

@section Scripts{
    <script>
       

    </script>
}