
@{
    ViewData["Title"] = "GetDemo";
}

<h1>GetDemo</h1>
<div id="div1"></div>

@section Scripts{
    <script>
            //步驟一建立AJAX物件
            const xhr = new XMLHttpRequest();
            
            //步驟二對伺服器發出要求
            //xhr.open('GET','/api/GetDemo?name=Amy&age=34');

        //xhr.open('GET', '@Url.Content("/api/GetDemo")?name=Amy&age=34')  //傳參數要放在方法外面
        xhr.open('GET', `@Url.Content("/api/GetDemo")?name=${name}&age=${age}`)  //用`包起來`
            xhr.send();

            //步驟三接收伺服器回傳的結果
            xhr.addEventListener('load',()=>{
                const data = xhr.responseText;
                
                //步驟四讀出資料(JSON or XML)
                //步驟五顯示資料在網頁上
                document.querySelector('#div1').innerHTML=`<h3>${data}</h3>`
            })
    </script>
}